<header class="header header-7">
  <div class="branding">
    <a routerLink="/">
      <cds-icon shape="file"></cds-icon>
      <span class="title">Smart Troubleshooter Docs</span>
    </a>
  </div>
  <div class="header-actions">
    <div class="branding">
      <a routerLink="/"><span class="title">Docify</span></a>
      <span class="title"> | </span>
      <a routerLink="/export"><span class="title">Database Entries</span></a>
      <span class="title"> | </span>
      <a routerLink="/about"><span class="title">About</span></a>
    </div>
  </div>
</header>
