<form clrForm>
  <p>Title</p>

    <clr-textarea-container>
      <textarea
        clrTextarea
        name="title"
        [(ngModel)]="documentation.title"
        required
        rows="1"
        (input)="autoResize($event)"
        class="autosize-textarea"
      ></textarea>
    </clr-textarea-container>


  <p>Symptom</p>

    <clr-textarea-container>
      <textarea
        clrTextarea
        name="symptom"
        [(ngModel)]="documentation.symptom"
        required
        rows="6"
        (input)="autoResize($event)"
        class="autosize-textarea"
      ></textarea>
    </clr-textarea-container>


  <p>Problem</p>

    <clr-textarea-container>
      <textarea
        clrTextarea
        name="problem"
        [(ngModel)]="documentation.problem"
        required
        rows="6"
        (input)="autoResize($event)"
        class="autosize-textarea"
      ></textarea>
    </clr-textarea-container>


  <p>Solution</p>

    <clr-textarea-container>
      <textarea
        clrTextarea
        name="solution"
        [(ngModel)]="documentation.solution"
        required
        rows="12"
        (input)="autoResize($event)"
        class="autosize-textarea"
      ></textarea>
    </clr-textarea-container>
  </form>

