<form clrForm>
  <h4>Title</h4>

    <clr-textarea-container>
      <textarea
        clrTextarea
        name="title"
        [(ngModel)]="documentation.title"
        required
        rows="1"
        (input)="autoResize($event)"
        class="autosize-textarea"
        spellcheck="false"
      ></textarea>
    </clr-textarea-container>


  <h4>Symptom</h4>

    <clr-textarea-container>
      <textarea
        clrTextarea
        name="symptom"
        [(ngModel)]="documentation.symptom"
        required
        rows="6"
        (input)="autoResize($event)"
        class="autosize-textarea"
        spellcheck="false"
      ></textarea>
    </clr-textarea-container>


  <h4>Problem</h4>

    <clr-textarea-container>
      <textarea
        clrTextarea
        name="problem"
        [(ngModel)]="documentation.problem"
        required
        rows="6"
        (input)="autoResize($event)"
        class="autosize-textarea"
        spellcheck="false"
      ></textarea>
    </clr-textarea-container>


  <h4>Solution</h4>

    <clr-textarea-container>
      <textarea
        clrTextarea
        name="solution"
        [(ngModel)]="documentation.solution"
        required
        rows="12"
        (input)="autoResize($event)"
        class="autosize-textarea"
        spellcheck="false"
      ></textarea>
    </clr-textarea-container>
  </form>
<button class="btn btn-primary">
  Save Article to Database
</button>



