<div>
  <p>Title</p>
  <form clrForm>
    <clr-textarea-container>
      <textarea clrTextarea placeholder="Enter troubleshoot text here..." [(ngModel)]="input" name="input" required></textarea>
    </clr-textarea-container>
  </form>

  <p>Symptom</p>
  <form clrForm>
    <clr-textarea-container>
      <textarea clrTextarea placeholder="Enter troubleshoot text here..." [(ngModel)]="input" name="input" required></textarea>
    </clr-textarea-container>
  </form>

  <p>Problem</p>
  <form clrForm>
    <clr-textarea-container>
      <textarea clrTextarea placeholder="Enter troubleshoot text here..." [(ngModel)]="input" name="input" required></textarea>
    </clr-textarea-container>
  </form>

  <p>Solution:</p>
  <form clrForm>
    <clr-textarea-container>
      <textarea clrTextarea placeholder="Enter troubleshoot text here..." [(ngModel)]="input" name="input" required></textarea>
    </clr-textarea-container>
  </form>
</div>

